aiohttp
websockets
aiomysql
python-dateutil
pympler
flask
Telethon==1.21.1
redis
aioredis==1.3.1
hiredis
pillow
tgs
CairoSVG
aiofiles
python-ffmpeg
mutagen
hachoir
sanic
instaloader
Unidecode
streamlink
aioschedule
